<p id="notice"><%= notice %></p>

<p>
  <strong>Stepstatus name:</strong>
  <%= @step_status.stepstatus_name %>
</p>

<%= link_to 'Edit', edit_step_status_path(@step_status) %> |
<%= link_to 'Back', step_statuses_path %>
